<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.textin.dao.LedgerDAO">

    <resultMap id="resultMap" type="org.textin.model.entity.Ledger">
        <id column="id" property="id"/>
        <id column="is_delete" property="isDelete"/>
        <id column="create_at" property="createAt"/>
        <id column="update_at" property="updateAt"/>

        <result column="name" property="name"/>
        <result column="user_id" property="userId"/>

    </resultMap>
    <sql id="allColumn">id, is_deleted, create_at, update_at,name,user_id</sql>
    <sql id="selectColumn">id,name</sql>
    <sql id="tableName">ledger</sql>

    <sql id="where_clause_do" >
        <trim prefix="where" prefixOverrides="and|or" >
            is_deleted = 0
        </trim>
    </sql>
    <insert id="save" parameterType="org.textin.model.entity.Ledger">
        insert into <include refid="tableName"/>
        (create_at,id,name,user_id)
        values
        (
        #{createAt},
        #{id},
        #{name},
        #{userId}
        )
    </insert>
    <update id="delete">
        update ledger set is_deleted = 1
        <include refid="where_clause_do"/> and id=#{ledgerId} and user_id=#{userId}
    </update>
    <update id="update" >
        update ledger set name=#{name}
        <include refid="where_clause_do"/> and id=#{ledgerId} and user_id=#{userId}
    </update>

    <!--<update id="updateTop">
        update ledger set top =0
        <include refid="where_clause_do"/> and id!=#{ledgerId} and user_id=#{userId}
    </update>-->

    <select id="get" resultType="org.textin.model.entity.Ledger" resultMap="resultMap">

    select <include refid="allColumn"/>
        from ledger <include refid="where_clause_do"/>
        and user_id = #{userId}
    </select>

</mapper>